:root {
    --font-color: white;
    --background-color: black;
    --accent-color: rgb(255, 215, 84);
    --section-gap: 10rem;
    --h1-font-size: 4rem;
    --h2-font-size: 3rem;
    --bold: 600;
    --border-radius: 15px;
    --transition: 0.1s ease-in;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    position: relative;
    color: var(--font-color);
    font-family: Poppins Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.page-title {
    grid-column: 3 / 11;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* HEADER */
header {
    height: 10vh;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}

.header-links {
    grid-column: 2 / -2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.header-links__nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header-links__burger {
    display: none;
}

/* SECTIONS */
.main-section {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* BUTTON */
.button {
    text-decoration: none;
    font-weight: var(--bold);
    background-color: var(--font-color);
    color: var(--background-color);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: var(--border-radius);
    transition: background-color var(--transition);
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent-color);
}

/* LINK */
.link {
    position: relative;
}
.link::before {
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0%;
    height: 1px;
    background-color: transparent;
    transition: width var(--transition),
                background-color var(--transition);
}

.link-current {
    cursor: default;
}

.link:hover::before, .link-current::before {
    background-color: var(--font-color);
    width: 110%;
}

/* FOOTER */
footer {
    padding: 2rem 0 0 0;
    grid-template-rows: repeat(2, 2rem);
    align-items: center;
    gap: 0.5rem;
}

.footer-copyright {
    grid-row: 2;
    grid-column: 2/-2;
    text-align: center;
}

.footer-socials {
    grid-row: 1;
    grid-column: 2 / -2;
}

.footer-socials ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-socials img {
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}

/* KEYFRAMES */
@keyframes flash {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {

    :root {
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 1rem;
    }

    .page-title {
        grid-column: 1 / -1;
    }

    .header-links {
        grid-column: 1 / -1;
        position: relative;
    }

    .header-links__nav {
        background-color: white;
        position: absolute;
        right: 0;
        top: 50%;
        padding: 1rem;
        border-radius: var(--border-radius);
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
    }

    .header-links__nav ul {
        flex-direction: column;
    }

    .header-links__nav ul a {
        color: black;
    }

    .link:hover::before, .link-current::before {
        background-color: black;
        width: 110%;
    }

    .header-links__burger {
        display: flex;
        justify-content: flex-end;
    }

    .header-links__burger-img {
        width: 50%;
    }
}